<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <script th:inline="javascript">
        // 토큰을 localStorage에 저장
        localStorage.setItem('accessToken', /*[[${accessToken}]]*/ '');
        localStorage.setItem('refreshToken', /*[[${refreshToken}]]*/ '');
        // <script> 태그 제거
        document.currentScript.remove();
    </script>
    <!-- Favicon & CSS-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Custom Google font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
    <!-- Bootstrap core JS-->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap_bundle_min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 타임리프로 호출한 JavaScript 파일 -->
    <script th:inline="javascript"> var contextPath = /*[[@{/}]]*/ ''; </script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</th:block>
<body></body>
</html>