<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="topMenuFragment">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}"><span class="fw-bolder text-primary">Start Bootstrap</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/goResume.do}">Resume</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/goProjects.do}">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/goContact.do}">Contact</a></li>
                        <li class="nav-item" th:if="${userObject.userId != null}"><a class="nav-link" th:href="@{/user/logout}">Logout</a></li>
                        <li class="nav-item" th:if="${userObject.userId == null}"><a class="nav-link" th:href="@{/user/login}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" th:text="${userObject.userName +'의 계정'}"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
</html>