<!DOCTYPE html>
<html th:replace="~{common/layout/layout_1 :: layout(~{::title},~{::link},~{::section},~{::script})}">
<head>
    <title>contact</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/project/projects.js}"></script>
</head>
    <body>
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5 project-form" th:if="${not #lists.isEmpty(projectList)}" th:each="project, iterStat : ${projectList}">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">

                                    <div class="p-3" style="max-width: 60%; min-width: 60%;">
                                        <div class="text-primary fw-bolder mb-3">
                                            <span class="form-control d-inline w-auto" th:text="${project.startDate} ?: '시작 날짜 없음'"></span>
                                            ~
                                            <span class="form-control d-inline w-auto" th:text="${project.endDate} ?: '종료 날짜 없음'"></span>
                                        </div>

                                        <div class="p-3">
                                            <h2 class="fw-bolder" th:text="${project.title} ?: '제목'"></h2>
                                            <p th:text="${project.content} ?: '내용'"></p>
                                        </div>
                                    </div>

                                    <div th:if="${project.fileYn eq 'Y'}">
                                        <div th:if="${not #lists.isEmpty(fileList)}" th:each="file : ${fileList}">
                                            <div th:if="${project.fileNo eq file.externalSeq}">
                                                <img class="img-fluid mb-2" th:src="@{/getImages/{fileNo}(fileNo=${file.seqCode})}" alt="Image Preview"  style="width: 400px; max-height: 400px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${project.fileYn eq 'N' or #lists.isEmpty(fileList)}">
                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{goContact.do}">Contact me</a>
                </div>
            </div>
        </section>
    </body>
</html>
