<!DOCTYPE html>
<html th:replace="~{common/layout/layout_3 :: layout(~{::title},~{::link},~{::body},~{::script})}">
    <head>
        <title>이력서페이지</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script type="text/javascript" th:src="@{/js/resume/viewResume.js}"></script>
    </head>
    <body>
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <form class="resumeForm" th:action="@{/regiResume.do}" method="post" enctype="multipart/form-data">
                        <section th:each="resume, stat : ${resumeFormList.resumeSaveForms}">
                            <h3>Resume TEST [[${stat.index}+1]]</h3>
                            <div th:if="${'Experience'.equals(resume.resumeGrbun)}">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <h2 class="text-primary fw-bolder mb-0">[[${resume.resumeGrbun}]]</h2>
                                    <a class="btn btn-primary px-4 py-3" href="#!">
                                        <div class="d-inline-block bi bi-download me-2"></div> Download Resume
                                    </a>
                                </div>
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <div class="row align-items-center gx-5">
                                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                <div class="bg-light p-4 rounded-4">
                                                    <div class="text-primary fw-bolder mb-2">
                                                        <span th:if="${resume.startDate == null && resume.endDate == null}">날짜 미정</span>
                                                        <span th:unless="${resume.startDate == null && resume.endDate == null}">
                                                                [[${resume.startDate} ?: '' ]] - [[${resume.endDate} ?: '' ]]
                                                            </span>
                                                    </div>
                                                    <div class="small fw-bolder">[[${resume.title} ?: '' ]]</div>
                                                    <div class="small text-muted">[[${resume.subContent} ?: '' ]]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div>[[${resume.content} ?: '' ]]</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${'Education'.equals(resume.resumeGrbun)}">
                                <h2 class="text-secondary fw-bolder mb-4">[[${resume.resumeGrbun}]]</h2>
                                <!-- Education Card 1-->
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <div class="row align-items-center gx-5">
                                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                                <div class="bg-light p-4 rounded-4">
                                                    <div class="text-secondary fw-bolder mb-2">
                                                        <span th:if="${resume.startDate == null && resume.endDate == null}">날짜 미정</span>
                                                        <span th:unless="${resume.startDate == null && resume.endDate == null}">
                                                            [[${resume.startDate} ?: '' ]] - [[${resume.endDate} ?: '' ]]
                                                        </span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <div class="small fw-bolder">[[${resume.title} ?: '' ]]</div>
                                                    </div>
                                                    <div class="fst-italic">
                                                        <div class="small text-muted">[[${resume.subContent} ?: '' ]]</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div>[[${resume.content} ?: '' ]]</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                                <i class="bi bi-tools"></i>
                                            </div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <!-- Skills 항목 필터 -->
                                        <div th:each="resume, stat : ${resumeFormList.resumeSaveForms}" th:if="${'Skills'.equals(resume.resumeGrbun)}">
                                            <!-- 데이터를 3개씩 나누기 -->
                                            <div th:each="chunk : ${#lists.partition(resume.items, 3)}">
                                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                                    <!-- 그룹 내 각 항목 반복 -->
                                                    <div th:each="item, indexStat : ${chunk}"
                                                         th:classappend="${indexStat.index == 2 ? 'col' : 'col mb-4 mb-md-0'}">
                                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                            [[${item.content}]]
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>