<!DOCTYPE html>
<html th:replace="~{common/layout/layout_1 :: layout(~{::title},~{::link},~{::section},~{::script})}">
    <head>
        <title>로그인 페이지</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script type="text/javascript" th:src="@{/js/user/login.js}"></script>
    </head>
    <!-- Page content-->
    <body>
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">로그인</h1>
                        <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form class="loginForm" th:action="@{/user/login}" th:object="${loginForm}"  method="post">
                                <div class="form-floating mb-3">
                                    <input class="form-control" th:field="*{userId}" type="text" th:errorclass="field-error" placeholder="ID입력"/>
                                    <div class="field-error" th:errors="*{userId}"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" th:field="*{password}"  type="password" th:errorclass="field-error"  placeholder="password입력" />
                                    <div class="field-error" th:errors="*{password}"></div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="passwordCheck">
                                        <label class="custom-control-label" for="passwordCheck">로그인상태 유지</label>
                                    </div>
                                </div>
                                <div class="d-grid" style="margin:20px;"><button class="btn btn-primary btn-lg disabled" id="submitButton1" type="submit">로그인</button></div>
                                <hr>
                                <a th:href="index.html" class="btn"><i class="fab fa-google fa-fw"></i> 구글 로그인</a>
                                <a th:href="index.html" class="btn"><i class="fab fa-facebook-f fa-fw"></i> 페이스북 로그인</a>
                            </form>
                            <hr>
                            <div class="text-center" style="margin: 12px;"><i class="fab fa-google fa-fw"></i><button onclick="redirectTo('user/findPassword')" class="btn btn-lg"  style="font-size:15px;">비밀번호 찾기</button></div>
                            <div class="text-center" style="margin: 12px;"><i class="fab fa-google fa-fw"></i><button onclick="redirectTo('user/regiUser')" class="btn btn-lg"  style="font-size:15px;">회원가입</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>