<!DOCTYPE html>
<html th:replace="~{common/layout/layout_1 :: layout(~{::title},~{::link},~{::section},~{::script})}">
    <head>
        <title>회원가입</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script type="text/javascript" th:src="@{/js/user/regiUser.js}"></script>
        <style>
            .container {
                max-width: 560px;
            }
            .field-error {
                border-color: #dc3545;
                color: #dc3545;
            }
        </style>
    </head>
    <!-- Page content-->
    <body>
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">회원가입</h1>
                        <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                    </div>

                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form class="userForm" th:action="@{/user/regiUser}" th:object="${user}" method="post">

                                <div th:if="${#fields.hasGlobalErrors()}">
                                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8 mb-3 mb-sm-4">
                                        <input type="text" th:field="*{userId}" th:errorclass="field-error" placeholder="유저ID" class="form-control" required />
                                        <div class="field-error" th:errors="*{userId}">이름명오류</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="id-Check-Btn">중복아이디 확인</button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8 mb-3 mb-sm-4">
                                        <input type="text" th:field="*{userName}" placeholder="이름" class="form-control" required />
                                        <div class="invalid-feedback" data-sb-feedback="userName:required">A name is required.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <th:block th:each="sexCode : ${sysCodes['sexCodes']}" >
                                            <input type="radio" th:field="*{gender}" th:value="${sexCode.code}" required>
                                            <label th:for="${#ids.prev('gender')}" th:text="${sexCode.codeNm}"></label>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-4">
                                        <input type="password" class="form-control form-control-user" th:field="*{password}" placeholder="비밀번호" required>
                                        <div class="invalid-feedback" data-sb-feedback="password:required">A name is required.</div>
                                    </div>
                                    <div class="col-sm-12 mb-sm-4">
                                        <input type="password" class="form-control form-control-user" id="passwordChck" name="passwordChck" placeholder="비밀번호 확인" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-4">
                                        <input type="text" class="form-control" name="email1" id="email1" placeholder="이메일" required>
                                        <div class="invalid-feedback" data-sb-feedback="email1:required">A email1 is required.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" th:field="*{email2}" required>
                                            <option value="">===선택===</option>
                                            <option th:each="emailCode : ${sysCodes['emailCodes']}" th:value="${emailCode.code}" th:text="${emailCode.code}"></option>
                                        </select>
                                        <input type="hidden" id="email2_hidden" name="email2_hidden"/>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="mail-Send-Btn">본인인증</button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8 mb-3 mb-sm-4">
                                        <input type="text" class="form-control" name="email_number" id="email_number" placeholder="인증번호 6자리를 입력해주세요!" disabled="disabled" maxlength="6">
                                        <div class="invalid-feedback" data-sb-feedback="userName:required">A name is required.</div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" id="mail-Check-Btn" disabled="disabled">이메일 인증</button>
                                    </div>
                                    <span id="mail-check-warn"></span>
                                </div>
                                <div class="d-grid" style="margin:20px;"><button type="submit" class="btn btn-primary btn-lg" >회원가입</button></div>
                            </form>
                        </div>
                    </div>

                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <hr>
                                <a th:href="index.html" class="btn"><i class="fab fa-google fa-fw"></i> 구글 계정으로 회원가입</a>
                                <a th:href="index.html" class="btn"><i class="fab fa-facebook-f fa-fw"></i> 페이스북 계정으로 회원가입</a>
                            <hr>
                         </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>