<!DOCTYPE html>
<html th:replace="~{common/layout/layout_1 :: layout(~{::title},~{::link},~{::section},~{::script})}">
<head>
    <title>contact</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/contact/contact.js}"></script>
</head>
<body>
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Gis</h1>
                <p class="lead fw-normal text-muted mb-0">Support Gis</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="row gx-4 gx-lg-5">
                    <h1 class="mt-5">The Big Picture</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremqueLorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusaLorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusaLorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusaLorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusa quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
                    <div id="maparea"><div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>